<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<h2>Your Pramatic Cart</h2>

<ul>
    <% @cart.line_itmes.each do |item| %>
        <li><%= item.product.title %></li>
    end
</ul>